html body:not(.cms-index-index) {overflow-x: visible;}
.page-header.type25 .header-main .header-left,.page-header.type25 .header-main .header-right {padding-top: 24px;padding-bottom: 24px;}
.page-header.type25 .header-main .header-right {flex: 1;}
.page-header.type25 .panel.wrapper {position: relative;min-height: 50px;font-size: 11px;font-weight: 700;line-height: 1;background: none;padding-top: 12.5px;padding-bottom: 12.5px;}
.header.panel > .header.links > li { line-height: 26px;letter-spacing: .025em;text-transform: none;}
.page-header.type25 .header-right > * {margin-left: .875rem;margin-right: 0;width: auto;}
.page-header.type25 .header.panel {margin: 0;margin-right: 20px;padding-right: .5rem;}
.page-header.type25 .header.panel > .header.links > li {line-height: 20px;}
.page-header.type25 .header.panel.store-currency {border-left: 1px solid #e7e7e7;border-right: 1px solid #e7e7e7;height: 20px;line-height: 20px;}
.page-header.type25 .panel.header .switcher {margin-right: 0;margin-left: .875rem;}
.page-header.type25 .panel.header .language {padding-right: 15px;}
.page-header .switcher .options .action.toggle, .page-footer .switcher .options .action.toggle { line-height: 20px; }
.page-header.type25 .panel.header .switcher:first-child {margin-left: 0;padding-left: 20px;}
.page-header.type25 .switcher .options ul.dropdown {  left: auto;right: 0;}
.page-header.type25 .switcher .options ul.dropdown:before {right: 10px;top: -12px;left: auto;}
.page-header.type25 .switcher .options ul.dropdown:after{right: 9px;top: -14px;left: auto;}
.page-header.type25 .main-panel-top .share-links{margin-top: -5px;}
.page-header.type25 .main-panel-top .share-links a {font-size: 15px;width: 20px;height: 20px;margin: 0 1px;display: inline-block;}
.page-header.type25 .main-panel-top .separator {height: 1.6em;border-left: 1px solid rgba(255,255,255,.09);display: inline-block;vertical-align: middle;}
.page-header.type25 .header-row .header-center {padding: 0 10px;flex:inherit;}
.page-header.type25 .header-contact > *:not(:first-child) {margin-left: .875rem;}
.page-header.type25 .header-contact {display: inline-flex;align-items: center;line-height: 22px;font-size: .9em;}
.page-header.type25 .header-contact .my-account {display: inline-block;padding: 0 .125rem;font-size: 24px;vertical-align: middle;}
.page-header.type25 .header-contact .my-account i,.page-header.type25 .header-contact .wishlist i {font-size: 32px;display: block;margin: 0;}
.page-header.type25 .header-contact .porto-sicon-title {font-weight: 500;font-size: 11px;letter-spacing: -0.4px;line-height: 13px;margin-bottom: 0;}
.page-header.type25 .header-contact p {margin: 0;}
.minicart-wrapper .action.showcart {top: 0;min-width: 32px;}
.minicart-wrapper .action.showcart .minicart-icon {font-size: 29px;right: -0.5px;}
.minicart-wrapper .action.showcart::after {display: none;}
.minicart-wrapper .action.showcart .counter.qty {right: -5px;top: -3px;background: #ffc220;}
.page-header.type25 .header-right .search-area {flex-grow: 1;}
.page-header.type25 .search-area.show-icon a.search-toggle-icon {font-size: 22px;width: 40px;margin-top: 5px;padding-top: 1px;}
.page-header.type25 .search-area.show-icon a.search-toggle-icon i::before {font-weight: 600;}
.page-header.type25 .nav-sections .navigation {padding-left: 0;padding-right: 0;position: static;}
.page-header.type25 .nav-sections .navigation .container {padding-left: 10px;padding-right: 10px;}
.page-header.type25 .custom-block {margin-left: 0;}
.page-header.type25 .search-area .minisearch .actions button {width: 54px;height: 46px;background: var(--border-search-color);color: #fff;right: 0;}
.page-header.type25 .search-category {right: 54px !important;height: 46px;line-height: 46px;padding-right: 12px;padding-left: 16px;border-left: none;}
.page-header.type25 .search-category:after {margin-left: 7px;}
.page-header.type25 .block-search input {height: 46px;}
.page-header.type25 .search-category select {max-width: 95px;}
.nav-toggle {padding-right: 1px;margin-right: 0;}
.sticky-product {
    width: calc(100% - 280px);
    right: 0;
    left: auto;
    padding-top: 15px;
}
@media (max-width:991px){
  .page-header.type25 .header-row .header-center {
    display: none;
  }
  .sw-megamenu.navigation.side-megamenu {
    display: block;
  }
  .page-header.type25 .header-main .header-left,.page-header.type25 .header-main .header-right {padding-top: 20px;padding-bottom: 20px;}
  .page-header.type25 .nav-toggle {margin-right: 15px;}
  .page-header.type25 .header-contact .my-account i,.page-header.type25 .header-contact .wishlist i {font-size: 28px;}
  .page-header.type25 .search-area .minisearch .actions button {border-radius: 0 10px 10px 0;}
  .sidebar-nav .side-megamenu.navigation li.level0.staticwidth>.submenu {
    padding: 0 !important;
    background: none !important;
  }
  .sidebar-nav .sw-megamenu.navigation.side-megamenu,.sidebar-nav .navigation .container {
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-nav .sw-megamenu.navigation.side-megamenu ul h3 {
    padding-left:  0 !important;padding-right: 0 !important;
  }
  .sidebar-nav .navigation .level0 > .level-top > i {display: none;}
}
@media only screen and (max-width:767px){
  .page-header.type25 .main-panel-top .separator {display: none;}
  .page-header.type25 .header.panel {
    display: block;
  }
  .page-header.type25 .panel.header .switcher {
    display: inline-block;
  }
  .page-header.type25 .header.panel.store-currency {
    margin-right: 0;
    border-right: 0;
  }
  .page-header.type25 .panel.header .language {
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .page-header.type25 .search-area .block.block-search {
    right: -110px;
  }
  .page-header.type25 .header-contact {
    margin-left: 0;
  }
  .page-header.type25 .header-contact .wishlist,.page-header.type25 .panel.wrapper .header-left {display: none;}
}
@media(min-width:992px){
  .page-header.type25 .custom-block {padding-right: 13px;}
  .page-header.type25 .header.content {align-items: inherit;padding-left: 0;padding-right: 0;max-width: 100%;}
  .page-header.type25 .header-main .header-right {box-shadow: 0px 20px 50px 0 rgba(99,111,113,0.05);padding-right: 35px;padding-left: 35px;}
  .page-header.type25 .header-main .header-left {
    width: 280px !important;
    justify-content: center;
    border-right: 1px solid #e1e1e1 !important;
    max-width: 280px;
    min-width: auto;
    align-items: inherit;
  }
  .page-header .switcher .options .action.toggle {line-height: inherit;}
  .page-header.type25.sticky-header .logo img {transform: scale(.8);transform-origin: left center;}
  .page-header.type25 .header-right .search-area {
      padding-left: 0;
      margin-left: 0;
  }
  .page-header.type25.sticky-header .nav-sections {position: static !important; box-shadow: none;margin-left: 0 !important;}
  .page-header.type25.sticky-header .header-main {position: fixed; top: 0; background: #fff;width: 100%;box-shadow: 0 1px 0 0 rgb(0 0 0 / 6%);}
  .page-header.type25.sticky-header .header-main .header-left, .page-header.type25.sticky-header .header-main .header-right {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .page-header.type25.sticky-header .minicart-wrapper {
    position: relative;
    transform: none;
    right:0;
    top: 0;
  }
  .page-header.type25 .minicart-wrapper .action.showcart .counter.qty {right: 26px;}
  .page-header.type25 .minicart-wrapper .action.showcart .minicart-icon::after {
    content: '\e819';
    margin: 0 7px 0 18.2px;
    font-family: "porto-icons";
    font-style: normal;
    display: inline-block;
    position: static;
    width: auto;
    height: auto;
    border: none;
    transform: none;
    background: none;
  }
  .page-header.type25 .minicart-wrapper {
    display: flex;
    align-items: center;
    min-height: 40px;
  }
  .page-header.type25 .minicart-wrapper .action-subtotal {
    font-size: 11px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.4;
    letter-spacing: -.06em;
    color: #777777;
    display: none;
    order: -1;
    text-align: right;
  }
  .page-header.type25 .minicart-wrapper .action-subtotal .cart-price {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    color: #ffc220;
  }
  .page-header.type25 .sticky-logo {margin-top: 10px;padding-left: 10px;}
  .page-header.type25 .header.panel > .header.links {display: flex;align-items: center;}
  .page-header.type25 .header.panel > .header.links > li > a {padding-top: 5px;padding-bottom: 5px;padding-left: 14.5px;padding-right: 14.5px;}
  .page-header.type25 .header.panel > .header.links > li:last-child > a {padding-right: 0;}
  .page-header.type25 .nav-sections {display: block;align-items: center;max-width: 100%;}
  .page-header.type25 .nav-sections .nav-sections-items {flex: 0 0 100%;}
  .page-header.type25 .search-area .block.block-search {border-radius: 5px;border-width: 2px; }
  .page-header.type25 .navigation:not(.side-megamenu) > ul {display: flex;align-items: center;flex-wrap: wrap;position: static;}
  .page-header.type25 .navigation:not(.side-megamenu) .level0 {margin-right: 1px;}
  .page-header.type25 .navigation:not(.side-megamenu) .level0 .level-top {font-size: 13px;font-weight: 600;line-height: 20px;letter-spacing: -0.325px;padding: 10px 12px 10px 12px;}

  .sidebar-nav .navigation.side-megamenu .level0 .level-top {font-size: 14px;font-weight: 600;line-height: 18px;letter-spacing: -0.5px;padding: 11.5px 4px 11.5px 4px;border: none;margin-left: 20px;margin-right: 20px;}
  .sidebar-nav .navigation.side-megamenu .level0 .level-top::after {font-size: 26px;font-weight: 400;-webkit-font-smoothing: antialiased;}
  .sidebar-nav .navigation.side-megamenu .level0 .level-top > i {font-size: 28px;margin-right: 0;}
  .sidebar-nav .navigation.side-megamenu .level0 .level-top > i::before {margin: 0 0.1em;}

  .page-layout-2columns-right .sw-megamenu.navigation.side-megamenu li.level0 > a > em,
  .page-layout-2columns-right .sw-megamenu.navigation.side-megamenu li.level0 > a i {
    margin-right: .5rem;
    margin-left: 0;
    order: 1;
  }

  .page-layout-2columns-right .sidebar-nav .sw-megamenu.navigation.side-megamenu li.level0 > a > span:not(.cat-label) {
    text-align: left;
    order: 2;
  }
  .page-layout-2columns-right .sidebar-nav .sw-megamenu.navigation.side-megamenu li.level0.parent > a:after {
    content: '\e81a';
    margin-right: -2px;
    margin-left: auto;
    order: 3;
  }
  .page-layout-2columns-right .sidebar-nav .sw-megamenu.navigation.side-megamenu li.level0 > .submenu::before {
    border-left: 12px solid #fff;
    border-right: none;
    right: -12px;
    left: auto;
  }
  .page-layout-2columns-right .sidebar-nav .sw-megamenu.navigation.side-megamenu li.level0.classic > .submenu {
    right: auto !important;
    left: 100% !important;
  }
  .page-layout-2columns-right .sidebar-nav .sw-megamenu.navigation.side-megamenu li.level0 > .submenu::before {
    border-right: 12px solid #fff;
    border-left: none;
    left: -12px;
    right: auto;
  }
  .page-layout-2columns-right .sidebar-nav .sw-megamenu.navigation.side-megamenu li.level0.fullwidth > .submenu,
  .page-layout-2columns-right .sidebar-nav .sw-megamenu.navigation.side-megamenu li.level0.staticwidth > .submenu {
    right: auto !important;
    left: 100% !important;
  }

  .page-header .sw-megamenu.navigation li.level0.staticwidth > .submenu .level1 > a,
  .page-header .sw-megamenu.navigation li.level0.fullwidth > .submenu .level1 > a {color: #000;}
  .sw-megamenu.navigation li.level0.classic .submenu a,.sw-megamenu.navigation li.level0.fullwidth .submenu a, .sw-megamenu.navigation li.level0.staticwidth .submenu a {font-weight: 600;}
  .page-header.type25 .search-area.show-icon .block.block-search {min-width: 380px;}
  .page-main {padding: 0 !important;}
  .message.success {
    margin-bottom: 0;
  }

  .page-wrapper > .category-description, .page-main > .category-view {
    margin-left: auto !important;
    width: calc(100% - 279px);
    border-left: #e7e7e7 solid 1px;
  }
  .page-wrapper .page-main {max-width: 100% !important;}
  .page-wrapper > .breadcrumbs {padding-top: 35px;}
  .page-wrapper > .breadcrumbs .items {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    max-width: 100% !important;
  }
  .page-wrapper > .breadcrumbs .items:after {
    content: '';
    position: absolute;
    left: 35px;
    right: 35px;
    bottom: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .page-wrapper > .breadcrumbs,.page-main > .page.messages,.page-main > .page-title-wrapper {
    max-width: calc(100% - 279px);
    margin-left: auto;
    margin-right: 0;
    border-left: #e7e7e7 solid 1px;
    background: none;
  }
  .page-main > .page-title-wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }
  .checkout-cart-index .page-title-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .page-main > .page-main-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
  }
  .page-main > .page-main-inner > .sidebar-nav {
    min-width: 280px;
    padding-top: 20px;
    border-right: 1px solid #e7e7e7;
    order: 1;
    position: relative;
    z-index: 2;
  }
  body:not(.cms-index-index) .columns .column.main {position: sticky;top:20px;}
  body:not(.cms-index-index) .page-wrapper > .breadcrumbs + .page-main > .page-main-inner > .sidebar-nav,
  .checkout-cart-index .page-main-inner .sidebar-nav,.customer-account-login .page-main-inner .sidebar-nav,
  .customer-account-create .page-main-inner .sidebar-nav,
  .customer-account-forgotpassword .page-main-inner .sidebar-nav{
    margin-top: -40px;
    padding-top: 0;
  }
  .abs-account-page-title, .customer-account-login .page-title-wrapper, .customer-account-create .page-title-wrapper, .customer-account-forgotpassword .page-title-wrapper {
    padding-top: 25px;
    padding-bottom: 0;
  }
  .page-main > .page-main-inner > .columns {
    max-width: calc(100% - 280px);
    flex: 0 0 100%;
    order: 2;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
  body:not(.cms-index-index) .page-main > .page-main-inner > .columns {
    padding-top: 1.25rem;
    padding-left: 35px;
    padding-right: 35px;
  }
  .main-upsell-product-detail {
    margin-bottom: 0;
    max-width: calc(100% - 279px);
    margin-left: auto;
    margin-right: 0;
    border-left: #e7e7e7 solid 1px;
    width: 100%;
  }
  footer.page-footer {
    width: calc(100% - 279px);
    margin-left: auto;
    margin-right: 0;
    border-left: 1px solid #e7e7e7;
  }
}
@media (min-width:992px) and (max-width: 1200px) {
.page-header.type25 .navigation .level0 .level-top {
    padding: 15px 10px 15px 10px;
    font-size: 12px;
}
}
@media (min-width: 1200px){
html .d-xxl-block {
  display: block !important;
}

.minicart-wrapper .action.showcart {margin-left: 10px;}
.page-header.type25 .minicart-wrapper {
  border-left: #e7e7e7 solid 1px;
  padding-left: 30px;
}
.page-header.type25 .minicart-wrapper .action-subtotal {
  display: block !important;
}
}
@media (min-width: 1612px){
html .d-xxl-flex {
    display: flex !important;
}
}
